<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.workgroup.dailyhealth">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DailyHealth">
        <activity android:name=".CadastrarUsuario"/>
        <activity android:name=".CadastrarAlimentos" />
        <activity android:name=".CadastrarFichaMedica"/>
        <activity android:name=".AdicionarFichaMedica"/>
        <activity android:name=".TelaLogin" />
        <activity android:name=".VisualizarFichaMedica" />
        <activity android:name=".VisualizarAlimentos" />
        <activity android:name=".TelaPrincipal" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>